body{
	width: 100%;
	height: 100%;
}

div{
	box-sizing: border-box;
}

h1{
	padding: 15px 25px 0 25px;
	margin-bottom: 0;
	text-align: center;
}

.centerGridContainer{
	width: 500px;
	height: 600px;
	background-color: #7cf2c7;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-evenly;
	padding-bottom: 15px;
	border-radius: 25px;
}

.centerGridItemSignupPage{
	width: 450px;
	height: 100px;
	background-color:#c2edde;
	margin: auto;
	padding: 5px;
	border-radius: 15px;
}

.centerGridItemSecurityQuestions{
	width: 450px;
	height: 50px;
	background-color:#c2edde;
	margin: auto;
	padding: 5px;
	border-radius: 15px;
}

.centerGridItemQualityOfLife{
	width: 450px;
	height: 175px;
	background-color:#c2edde;
	margin: auto;
	padding: 5px;
	border-radius: 15px;
}

.centerGridItemLoginPage{
	width: 450px;
	height: 100px;
	background-color:#c2edde;
	margin: auto;
	padding: 5px;
	border-radius: 15px;
}

.centerGridItemPasswordReset{
	width: 450px;
	height: 75px;
	background-color:#c2edde;
	margin: auto;
	padding: 5px;
	border-radius: 15px;
}

.viewGridContainer{
	width: 100%;
	display: inline-flex;
}

.viewLittleButtons{
	width: 50px;
	height: 50px;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}

#viewFavouritingButton{
	width: 100px;
	height: 100px;
	padding: 5px;
	margin: 5px;
	border-radius: 10px;
}

#viewBanner{
	width: 60%;
	height: 125px;
	padding: 5px;
	margin: 5px;
	float: right;
	border-radius: 15px;
}

#viewBox{
	width: 95%;
	height: 700px;
	margin: 15px 2.5% 15px 2.5%;
	padding: 15px;
	border-radius: 15px;
}